<!DOCTYPE html>
<head>
  <title>Intro Page</title>
  <style>
    body {
      background-image: url("C:\\Users\\DELL\\OneDrive\\Desktop\\New\\static\\intro.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  </style>
</head>

<body bgcolor="beige">
  <font face="Times New Roman" size="20" color="black"
    ><b>R<sub>20</sub> Percentage Calculator</b></font
  >
  <br />
  <font size="5"
    >This “Semester Percentage calculator” basically designed to calculate the
    semester percentage of a student who is from the particular<br />
    R<sub>20</sub> regulation. The aim is to get the accurate percentage with
    the given input. A student can calculate any of the semester percentage<br />
    from R<sub>20</sub> regulation.</font
  >
  <br />
  <br />
  <br />
  <font face="Times New Roman" size="6" color="black"
    ><b>Calculate Your Percentage:</b></font
  >
  <br />
  <font size="5"
    >Semester Percentage For 1-1(Click The below link): <br /><a
      href="{{ url_for('s11') }}"
      >Semester:1-1</a
    ><br />
    Semester Percentage For 1-2(Click The below link):
    <br />
    <a href="{{ url_for('s12') }}">Semester:1-2</a>
    <br />
    Semester Percentage For 2-1(Click The below link):
    <br />
    <a href="{{ url_for('s21') }}">Semester:2-1</a><br />
    Semester Percentage For 2-2(Click The below link):
    <br />
    <a href="{{ url_for('s31') }}">Semester:2-2</a><br />
    Semester Percentage For 3-1(Click The below link):
    <br />
    <a href="{{ url_for('s31') }}">Semester:3-1</a><br />
    Semester Percentage For 3-2(Click The below link):
    <br />
    <a href="{{ url_for('s32') }}">Semester:3-2</a>
    <br />
    Semester Percentage For 4-1(Click The below link):
    <br />
    <a href="{{ url_for('s41') }}">Semester:4-1</a>
    <br />
    Semester Percentage For 4-2(Click The below link):
    <br />
    <a href="{{ url_for('s42') }}">Semester:4-2</a>
  </font>
</body>
