<!DOCTYPE html>
<html>
  <head>
    <title>Results</title>
    <style>
      body {
        background: url("../static/result.bg.jpg");
        background-size: cover; /* Adjust this property to control how the image scales */
        background-repeat: no-repeat;
      }
    </style>
  </head>
  <body bgcolor=#f3e5f5 ;>
    <center>
      <br /><br /><br />
      <font   size="20" ><h1><b>Welcome to the results page</b> </h1></font>
      <font   FACE="ARIAL" size="20" ALIGN="RIGHT"></font>
      <h1>percentage For Semester {{sem}} is : {{percentage}}</h1>
    <h1> Total Percentage : {{ actualpercentage }}%<h1>
      <h1>Good ! Keep Going</h1></font>
        
        <br>
        <br>
       
      </font>
    </center>
  </body>
</html>