<!DOCTYPE html>
<html>
  <head>
    <title>Calculator</title>
    <style>
      body {
        background-image: url("C:\\Users\\DELL\\OneDrive\\Desktop\\New\\static\\input.jpg");
        background-size: cover; /* Adjust this property to control how the image scales */
        background-repeat: no-repeat;
      }
    </style>
  </head>
  <body
bgcolor=#E1BEE7  >
    <center>
      <br /><br /><br /><br />
      <h1>Percentage Calculator for: 1-1</h1>
      <form action=http://127.0.0.1:5000/s11 method="post">
        <table>
          <tr>
            <td>Subject 1:</td>
            <td>
              <p><input type="text" name="Subject1" required /></p>
            </td>
          </tr>
          <tr>
            <td>Subject 2:</td>
            <td>
              <p><input type="text" name="Subject2" required /></p>
            </td>
          </tr>
          <tr>
            <td>Subject 3:</td>
            <td>
              <p><input type="text" name="Subject3" required /></p>
            </td>
          </tr>
          <tr>
            <td>Subject 4:</td>
            <td>
              <p><input type="text" name="Subject4" required /></p>
            </td>
          </tr>
          <tr>
            <td>Lab 1:</td>
            <td>
              <p><input type="text" name="Lab1" required /></p>
            </td>
          </tr>
          <tr>
            <td>Lab 2:</td>
            <td>
              <p><input type="text" name="Lab2" required /></p>
            </td>
          </tr>
          <tr>
            <td>Lab 3:</td>
            <td>
              <p><input type="text" name="Lab3"required/></p>
            </td>
          </tr>
          <td>Lab 4:</td>
            <td>
              <p><input type="text" name="Lab4" required/></p>
            </td>
          </tr>
          <tr>
            <td align="center" colspan="2">
              <p><input type="submit" name="Calculate" /></p>
            </td>
          </tr>
        </table>
      </form>
    </center>
  </body>
</html>

