<!DOCTYPE html>
<html>
  <head>
    <title>Calculator</title>
    <style>
      body {
        background-image: url("C:\\Users\\DELL\\OneDrive\\Desktop\\New\\static\\input.jpg");
        background-size: cover; /* Adjust this property to control how the image scales */
        background-repeat: no-repeat;
      }
    </style>
  </head>
  <body bgcolor=#E1BEE7>
    <center>
      <br /><br /><br /><br />
      <h1>Percentage Calculator for:4-2</h1>
      <form action=http://127.0.0.1:5000/s42 method="post">
        <table>
          <tr>
            <td>Enter your previous percentage: </td>
            <td>
              <p><input type="text" name="Previouspercentage"required /></p>
            </td>
          </tr>
          <tr>
            <td>Project:</td>
            <td>
              <p><input type="text" name="Project" required /></p>
            </td>
          <tr>
            <td align="center" colspan="2">
              <p><input type="submit" name="Calculate" required /></p>
            </td>
          </tr>
        </table>
      </form>
    </center>
  </body>
</html>